###########################################################################
#                            Javascript Snippets                          #
###########################################################################
snippet imp "import"
import ${2} from ${1}
endsnippet
