snippet s "String" b
"${1:key}": "${0:value}",
endsnippet

snippet n "Number" b
"${1:key}": ${0:value},
endsnippet

snippet a "Array" b
[
	$0
],
endsnippet

snippet na "Named array" b
"${1:key}": [
	$0
],
endsnippet

snippet o "Object" b
{
	$0
},
endsnippet

snippet no "Named object" b
"${1:key}": {
	$0
},
endsnippet

snippet null "Null" b
"${0:key}": null,
endsnippet
