snippet _编辑器_ "edit ..."
skylark 是一个开源, 小巧, 快速, 高度可定制性的文本/16进制编辑器
它支持函数提示, 代码补全, clang-format格式化, 能直接运行sql或lua脚本.
$0
endsnippet

snippet _author_ "author ..."
Skylark Edit Author - adonais (hua.andy@gmail.com).
$0
endsnippet

snippet _project_ "project url ..."
https://github.com/adonais/skylark
$0
endsnippet

snippet "(_skylark_)([_A-Za-z]*)(\d+)" "regxp test ..." r
regular expression test! str = ${1:\2}, number = \3, name = \1 ...
$0
endsnippet
